@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --primary-color: rgb(44, 114, 205);
  --secondary-color: rgb(229, 229, 229);
  --primary-font: "Oswald", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  height: 300vh;
}
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #000;
}
.elementor {
  background-color: rgb(34, 54, 69);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.elementor .contact-us i {
  margin: 0 20px;
}
.elementor .social-media i {
  margin: 0 10px;
}
.elementor a {
  color: var(--secondary-color);
}
.logo {
  height: 100px;
  width: 100px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;
  transition: all 0.6s;
  width: 100%;
  background-color: #fff;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.navbar .menu {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.navbar .menu li {
  margin: 0 10px;
  list-style: none;
}
.navbar .menu li a {
  text-decoration: none;
  color: #0087ca;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  /* background-color: var(--primary-color); */
}
.dropbtn {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 20px;
  color: #0087ca;
  padding: 10px;
  letter-spacing: 1px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #3f4e4f;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #108742;
  color: #fff;
  border-radius: 4px;
}
.navbar .menu li:hover a {
  background-color: #108742;
  color: #fff;
  transition: all 0.6s;
}
.navbar .login button {
  padding: 5px 40px;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: 0;
  color: #fff;
  border-radius: 5px;
}
.navbar .login button:hover {
  background-color: #108742;
  transition: all 0.6s;
  transform: scale(1.1);
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}
/* maiN */
.main {
  background-image: url(/images/loan-hero-2.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 20px 30px;
}

/* form */
#form-1 input {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#form-1 input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
#form-1 label {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 5px 0;
  color: #108742;
}
#form-1 {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  max-width: 50%;
  padding: 50px 20px;

  display: flex;
  width: 50%;
  flex-wrap: wrap;

  justify-content: center;

  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 30px;
  margin-top: 100px;
}

#form-1 button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 50px;
  /* display:inline-block;     */

  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #108742;
  border: 2px solid #108742;
}
#form-1 button:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.whatsapp {
  height: 100px;
  width: 100px;
  image-resolution: 100%;
  position: fixed;
  right: 0;
  top: 80%;
  z-index: 100000;
}

/* loans */
.loans-type .loans-container #sheetdb-form{
padding: 70px;
  /* display: flex; */
  

 
}
.loans-type .loans-container{
  width: 100%;
  
}
.loans-type .loans-container #sheetdb-form .loan{
  display: block;
  padding: 30px 50px;
  
  
  
}
.loans-type .loans-container img{
  height: 100px;
  width: 100px;
  
  cursor: pointer;
 
}
.loans-type .loans-container .loan span{
  text-align: center;
  font-size: 1.4rem;

}
.loans-type{
  padding: 20px;

}
.loans-type h2{
  text-align: center;
  padding: 40px 0;
  font-size: 2rem;
  letter-spacing: 1px;
}
.loans-type .loans-container #sheetdb-form button{
  display: block;
  padding: 10px 30px;
  margin: 20px auto;
}
.loans-type .loans-container #sheetdb-form .form-group{
  display: inline;
 

}
.loans-type .loans-container #sheetdb-form .form-group input{
  display: block;
 padding: 10px 20px  10px 3px;
 margin: 3px 0;
 outline: 0;
}
.loans-type .loans-container #sheetdb-form .loan{
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.loans-type .loans-container button{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;
 

}
.loans-type .loans-container button:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}




/* footer */
.footer{
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 40px;
  margin: auto;
}
.footer h2{
  padding-bottom: 30px;
  font-size: 1.8rem;
  color: #f1f1f1;
  font-weight: 500;
}
.footer p{
  width: 80%;
  letter-spacing: 1.2px;
  line-height: 1.6;
  color: #f1f1f1;
  word-spacing: 1.2px;
  
}
.footer .first{
  border-bottom: 2px solid #f1f1f1;
}
.footer .first p{
  text-align: justify;
}
.footer i{
  padding-right: 5px;
}
.footer .second a{
  text-decoration: none;
  color: #f1f1f1;
 
}
.footer .second p{
  /* width: 100%;
  text-align: justify; */
  margin: 10px 0;
}
.footer .third{
  padding-left: 60px;
}


.footer .fourth{
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  column-gap: 10px;
}

.footer .fourth i{
  display: inline;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;

  /* margin: 0 5px; */
} 
.footer .fourth i:hover{
  background-color:#108742;
}

.privacy-policy{
    text-decoration: none;
    color: #f1f1f1;
    background-color: rgb(34,54,69);
    font-size: 0.8rem;
    padding: 10px ;
    border-bottom: 1px solid #f1f1f1;         

}
.privacy-policy .privacy-policy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: #f1f1f1;
    row-gap: 10px;
}
.privacy-policy .privacy-policy-container p a, span a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 0.9rem;

    border-bottom: 1px solid #f1f1f1;       
}




@media  (min-width: 480px) and (max-width: 768px){
  body{
   overflow-x: hidden;
  }

   .logo{
     width: 60px;
     height: 60px;
   }
   .navbar{
     justify-content: space-between;
     flex-direction: column;
     padding: 20px;
     align-items: flex-start;
     z-index: 10000;
   }
   .toggle-button{
     display: flex;
     margin-top: 25px;;
   }
  
   .navbar{
     font-size: 14px;
   }
   .navbar .menu{
     display: none;
     width: 100%;
     flex-direction: column;
     padding-bottom: 20px;
     margin: 20px 0;
     row-gap: 10px;
   }
   .navbar .menu li{
     text-align: start;
   }
   .navbar .menu.show-nav{
     display: flex;
     flex-direction: column;
   }
   .navbar .menu li a{
     font-size: 14px;
   }
   .dropbtn{
     font-size: 15px;
   }
   .whatsapp{
       height: 50px;
       width: 50px;
   }
   .main{
    background-position: top;
    background-size: contain;
    height: 50vh;
   }
   .loans-type h2{
    font-size: 20px;
   }
   .loans-type .loans-container #sheetdb-form {
     padding: 20px;
   }
  
   /* .loans-type .loans-container #sheetdb-form .loan-1{
    display: grid;
    grid-template-columns: 3fr;
   margin: 0 auto;
    align-items: center;
    justify-content: center;
   } */
   .loans-type .loans-container #sheetdb-form .loan{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    border-bottom: 1px solid #1de9b6;
   }
   .loans-type .loans-container #sheetdb-form .loan-1{
    display: flex;
    flex-direction: column;
   }
   .loans-type .loans-container #sheetdb-form .loan-2{
    display: flex;
    flex-direction: column;
   }
   .loans-type .loans-container #sheetdb-form .loan-3{
    display: flex;
    flex-direction: column;
   }
   .loans-type .loans-container #sheetdb-form .loan-4{
    display: flex;
    flex-direction: column;
   }
   .footer{
    padding: 30px;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .footer h2{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .footer p{
    /* width: 100%; */
    font-size: 10px;
  }
  .footer .first{
    border-bottom: 0;
  }
  .footer .second h2{
    font-size: 20px;
  }
  .footer .third{
    padding-left: 0;
  }
  .footer .third h2{
    font-size: 20px;
  }
  .footer .third iframe{
    width: 350px;
    height: 300px;
  }
  .footer .fourth h2{
    font-size: 20px;
  }
  }